<mat-card>
     <legend style="color:gray">REGISTER A NEW USER</legend>   
    
            <div fxLayout="row" fxLayoutGap="10px" fxFlex.xs="100%" >
                <form [formGroup]="userForm" (ngSubmit)="submit(userForm.value)" >                           
                                    <div>                                        
                                        <mat-label>Firstname</mat-label>
                                        <div> 
                                            <mat-form-field fxField > 
                                                <input matInput formControlName="Firstname" placeholder="Firstname"  required  />
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div>                                        
                                            <mat-label>Lastname</mat-label>
                                        <div>
                                            <mat-form-field fxField>
                                                <input matInput formControlName="Lastname" placeholder="Lastname" required />
                                            </mat-form-field>  
                                        </div>
                                    </div> 
            
                                    <div>                                        
                                        <mat-label>UserName</mat-label>
                                        <div>
                                            <mat-form-field fxField>
                                                <input matInput  formControlName="Username" placeholder="Username" required />
                                            </mat-form-field>  
                                        </div> 
                                    </div>             
                                    
                                    <div>                                        
                                        <mat-label>Password</mat-label>
                                        <div>
                                            <mat-form-field fxField>
                                                <input matInput  formControlName="Password" placeholder="Password" required />
                                            </mat-form-field>
                                        </div>
                                    </div>
                                  
                                    <div >                                            
                                            <mat-label>Role</mat-label>
                                            <div>
                                                    <mat-select formControlName="Role" fxFlex placeholder="Select a role" required >
                                                            <mat-option value="Admin">Admin</mat-option>
                                                            <mat-option value="User">User</mat-option>
                                                        </mat-select>
                                            </div>
                                        </div>

                                    <div style="margin-top: 10px">    
                                        <button type="submit" [disabled]="!userForm.valid" mat-raised-button >Submit</button>   
                                    </div>
                                <!--<p *ngIf="" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success" align="left">  
                                {{message}}  
                               </p> -->                
                </form>         
            </div>    
    </mat-card>
