<mat-card>
        <mat-card-content id="sect-one">
    
                <div class="row"> 
                    <div class="col-lg-6">
                        <div id="to-right" class="card bg-light mb-3" routerLink='/home/manage/patient-edit' >
                            <div class="card-header bg-success" style="color: white; font-weight: bold; padding-left: 4px;">EDIT PATIENT RECORD</div>
                
                            <div class="card-body" style="color:black; padding-left: 10px;">
                                <h4 class="card-title" ><i class="fa fa-user" ></i>EDIT PATIENT</h4>
                                <p class="card-text">Edit and Delete patient here</p>
                            </div>        
                        </div>
                
                        <div id="to-right" class="card text-white bg-success mb-3"   routerLink='/home/manage/user-edit'>
                            <div class="card-header bg-light" style="color: black; font-weight: bold; padding-left: 4px;">EDIT USER RECORD</div>
                
                            <div class="card-body" style="padding-left: 10px;">
                                <h4 class="card-title"><i class="fa fa-cog"></i>EDIT USER</h4>
                                <p class="card-text">Edit and Delete users here</p>
                            </div>
                        </div>
                    </div>    
                                     
                </div>
                <div class="row">
                    <div class="col-lg-10">
                        <div id="to-right" class="card border-success bg-light mb-3"   routerLink='/home/manage/userRegistration'>
                            <div class="card-header bg-success" style="color: white; font-weight: bold; padding-left: 4px;">REGISTER USER</div>
                
                            <div class="card-body"  style="color:black; padding-left: 10px;">
                                <h4 class="card-title"><i class="fa fa-user"></i>REGISTER USER</h4>
                                <p class="card-text">REGISTER USERS HERE</p>
                            </div>
                        </div>
                    </div>   
                </div>
            </mat-card-content>
                
</mat-card>