<script>
$(document).ready(function () {
    $('#dtBasicExample').DataTable();
    $('.dataTables_lengtd').addClass('bs-select');
  });
</script>
<mat-card>
    <div>
        <input class="form-control" type="text"  name="searchText"  placeholder="Enter study number to search" autofocus>
      </div>
      <form  novalidate>
          <table id="dtBasicExample" class="table  table-bordered table-sm" cellspacing="0" widtd="100%">
              <thead class="tdead-dark">
                  <tr>
                      <th class="td-sm" *ngFor="let head of headElements" scope="col">{{head}}</th>
                      <!--<td  scope="col">FullName</td>
                      <td  scope="col">StudyNo</td>
                      <td  scope="col">HospitalNumber</td>-->
                      <th class="td-sm" scope="col"></th>
                      <th class="td-sm" scope="col"></th>           
                  </tr>
              </thead>
              <tbody>
                <!-- filterpipe: searchText | -->
                  <tr *ngFor="let pa of userDb | filterpipe: searchText | paginate : {itemsPerPage:5, currentPage:p} ">
                      <td scope="row"> {{pa.id}} </td>
                      <td scope="row"> {{pa.FullName}}</td>  
                      <td scope="row"> {{pa.StudyNo}}</td>
                     <td scope="row"> {{pa.HospitalNumber}}</td>
                    <td scope="row"> {{pa.Gender}}</td> 
                    <td scope="row"> {{pa.DateOBirth}}</td> 
                    <td scope="row"> {{pa.AgeAtFirstVisitToPNC }}</td>
                   <td scope="row"> {{pa.EthnicGroup}}</td> 
                    <td scope="row"> {{pa.GeopoliticalZone}}</td>  
                  <td scope="row"> {{pa.WithWhomDoesChildLive}}</td>
                   <td scope="row"> {{pa.Informant}}</td> 
         <!--<td scope="row"> {{pa.AnyChangeInCaregiverSinceDiagnosis}}</td>
          <td scope="row"> {{pa.IfYesWho}}</td>
         <td scope="row"> {{pa.Addreess}}</td>
          <td scope="row"> {{pa.StateofResidence}}</td> 
           <td scope="row"> {{pa.PhoneNumber}}</td> 
            <td scope="row"> {{pa.EmailAddress }}</td>  
            <td scope="row"> {{pa.DateOfEnrolment }}</td>
         <td scope="row"> {{pa.DateFirstDiagnosedWitdCerebralPalsy }}</td> 
          <td scope="row"> {{pa.AgeAtWhichParentsFirstObservedDelaysInMilestones }}</td>
         <td scope="row"> {{pa.AgeAtDiagnosisOfCerebralPalsyInMontds }}</td> 
          <td scope="row"> {{pa.WhoMadetdeDiagnosisOfCerebralPalsy }}</td> 
           <td scope="row"> {{pa.SourceOfReferral }}</td>
                  
      
         <td scope="row"> {{pa.PatternOfLimbInvolvment }}</td>
           <td scope="row"> {{pa.LimbsInvolved }}</td>
              <td scope="row"> {{pa.TypeOfCP }}</td>
                <td scope="row"> {{pa.IfSpasticIsItUnilateralOrBilateralSpasticCP }}</td>
         <td scope="row"> {{pa.GmfcsClass }}</td> 
          <td scope="row"> {{pa.IsChildReceivingPhysiotderapy }}</td> 
          <td scope="row"> {{pa.FrequencyOfPhysioSessions }}</td> 
          <td scope="row"> {{pa.AgeAtCommencementOfPhysio }}</td>
         <td scope="row"> {{pa.DurarionOfPhysiotderapy }}</td>
          <td scope="row"> {{pa.AnyOrtdopaedicInterventions }}</td>
           <td scope="row"> {{pa.IfYesTypeOfIntervention }}</td>  
           <td scope="row"> {{pa.DoesChildHaveAnyAssistiveLocomotorDevice }}</td>
         <td scope="row"> {{pa.IfYesWhoProvidedIt }}</td>
          <td scope="row"> {{pa.duration_of_pregnancy }}</td>
            <td scope="row"> {{pa.Term_Preterm }}</td> 
             <td scope="row"> {{pa.types_of_conception }}</td> 
             <td scope="row"> {{pa.if_assisted_which_type }}</td>
         <td scope="row"> {{pa.complication_in_pregnancy }}</td> 
           <td scope="row"> {{pa.IfYesGiveDetails }}</td>
             <td scope="row"> {{pa.country_of_birtd }}</td>
              <td scope="row"> {{pa.type_of_pregnancy }}</td>
               <td scope="row"> {{pa.duration_of_labour }}</td>
                <td scope="row"> {{pa.mode_of_delivery }}</td>
         <td scope="row"> {{pa.vacuum_extraction }}</td> 
         <td scope="row"> {{pa.place_of_delivery }}</td> 
          <td scope="row"> {{pa.Did_he_or_she_cry_immediately_after_birtd }}</td>
           <td scope="row"> {{pa.any_active_resuscitation_at_birtd }}</td> 
           <td scope="row"> {{pa.birtd_weight }}</td>
         <td scope="row"> {{pa.time_to_first_feed_after_birtd }}</td>
           <td scope="row"> {{pa.mode_of_feeding_after_birtd }}</td> 
            <td scope="row"> {{pa.Glucose_water }}</td> 
            <td scope="row"> {{pa.any_NICU_admission }}</td>
              <td scope="row"> {{pa.reason_for_admission }}</td>
         <td scope="row"> {{pa.duration_of_NICU_admission }}</td>
           <td scope="row"> {{pa.any_history_of_neonatal_seizures }}</td>
            <td scope="row"> {{pa.any_history_of_NNJ }}</td>
         <td scope="row"> {{pa.If_yes_SBR_level }}</td>  
         <td scope="row"> {{pa.treatment_given_for_NNJ }}</td>
          <td scope="row"> {{pa.any_history_suggestive_of_NN_Sepsis }}</td>
            <td scope="row"> {{pa.any_history_suggestive_of_NN_meningitis }}</td>
         <td scope="row"> {{pa.any_history_of_metabolic_disorder_or_derangement }}</td> 
          <td scope="row"> {{pa.any_major_illnesses_in_tde_past }}</td>
         <td scope="row"> {{pa.indication_for_hospital_admission }}</td> 
          <td scope="row"> {{pa.age_at_illness }}</td> 
          <td scope="row"> {{pa.duration_of_hospitalization }}</td> 
            <td scope="row"> {{pa.was_admission_due_complication_of_CP }}</td>
         <td scope="row"> {{pa.was_admission_related_to_tde_etiology_of_CP }}</td> 
          <td scope="row"> {{pa.any_previous_ICU_admission }}</td>
           <td scope="row"> {{pa.risk_factor_of_CP }}</td> 
            <td scope="row"> {{pa.risk_for_CP_identified }}</td>
              <td scope="row"> {{pa.cranial_MRI_CT_scan }}</td>
         <td scope="row"> {{pa.if_yes_give_results }}</td> 
          <td scope="row"> {{pa.EEG }}</td> 
            <td scope="row"> {{pa.if_yes_give_details }}</td>  
             <td scope="row"> {{pa.severe_perinatal_asphyxia }}</td>
         <td scope="row"> {{pa.NN_meningitis }}</td> 
          <td scope="row"> {{pa.Bilirubin_encephalopatdy }}</td>
            <td scope="row"> {{pa.exposure_to_radiation }}</td> 
            <td scope="row"> {{pa.intrauterine_infection }}</td>
              <td scope="row"> {{pa.NN_Sepsis }}</td>  
               <td scope="row"> {{pa.Maternal_pregnancy_complication }}</td>
         <td scope="row"> {{pa.prolonged_rupture_of_membranes }}</td> 
          <td scope="row"> {{pa.congenital_CNS_malformation }}</td>
           <td scope="row"> {{pa.any_otder_congenital_malformation_state_type }}</td>
         <td scope="row"> {{pa.maternal_drug_or_alcohol_exposure_state_type_of_drug }}</td>
           <td scope="row"> {{pa.prematurity }}</td>  
           <td scope="row"> {{pa.low_birtd_weight }}</td>
             <td scope="row"> {{pa.traumatic_delivery }}</td>
         <td scope="row"> {{pa.intracranial_infection_metabolic_disorder_state_type }}</td>  
          <td scope="row"> {{pa.metabolic_disorder_state_type }}</td>
          <td scope="row"> {{pa.traumatic_brain_injury }}</td> 
            <td scope="row"> {{pa.hypoxic_brain_injury }}</td> 
         <td scope="row"> {{pa.multi_Birtds }}</td> 
          <td scope="row"> {{pa.stroke }}</td>
         <td scope="row"> {{pa.give_details }}</td>
         <td scope="row"> {{pa.any_otder_state }}</td>
         <td scope="row"> {{pa.prenatal_or_perinatal_or_postnatal }}</td>
         <td scope="row"> {{pa.Presumed_cause_of_CP }}</td>
         <td scope="row"> {{pa.for_postnatal_Cp_state_age_at_brain_injury }}</td>
         <td scope="row"> {{pa.Does_a_child_have_a_comorbidities }}</td>
         <td scope="row"> {{pa.Has_child_received_visual_assesment_by_ophtdalmologist }}</td>
         <td scope="row"> {{pa.Has_child_received_hearing_assessment }}</td>
         <td scope="row"> {{pa.Visual_impairment }}</td>
         <td scope="row"> {{pa.types_of_Visual_impairment }}</td>
         <td scope="row"> {{pa.hearing_impairment }}</td>
         <td scope="row"> {{pa.types_of_hearing_impairment }}</td>
         <td scope="row"> {{pa.epilepsy }}</td>
         <td scope="row"> {{pa.types_of_epilepsy }}</td> 
          <td scope="row"> {{pa.speech_problems }}</td> 
           <td scope="row"> {{pa.intellectual_disability }}</td>  
            <td scope="row"> {{pa.Report_of_IQ_assessment }}</td>
         <td scope="row"> {{pa.Autism_spectrum_disorder }}</td> 
          <td scope="row"> {{pa.ADHD }}</td> 
           <td scope="row"> {{pa.behaviour_problems }}</td> 
            <td scope="row"> {{pa.feeding_difficulties }}</td>
         <td scope="row"> {{pa.growtd_impairment }}</td>
         <td scope="row"> {{pa.microcephaly }}</td>
         <td scope="row"> {{pa.head_circumference }}</td>
         <td scope="row"> {{pa.medication_list_if_any }}</td>
         <td scope="row"> {{pa.fatder_highest_level_of_education }}</td>
         <td scope="row"> {{pa.fatder_occupation }}</td>
         <td scope="row"> {{pa.motder__highest_level_of_education }}</td>
         <td scope="row"> {{pa.motder_occupation }}</td>
         <td scope="row"> {{pa.caregivers_if_not_parent_highest_level_of_education }}</td>
         <td scope="row"> {{pa.caregivers_occupation }}</td>
         <td scope="row"> {{pa.any_family_history_of_development_disorder_or_delay }}</td>
         <td scope="row"> {{pa.Is_child_enrolled_in_tde_school }}</td>
         <td scope="row"> {{pa.types_of_school_not_school_age }}</td>
         <td scope="row"> {{pa.Has_child_ever_repeated_a_class }}</td>
         <td scope="row"> {{pa.immunisation_Status }}</td>
         <td scope="row"> {{pa.Do_parents_have_concern_about_child_growtd_and_weight }}</td>
         <td scope="row"> {{pa.Do_parents_have_concern_about_childs_healtd }}</td>
         <td scope="row"> {{pa.Do_parents_have_concern_about_child_eating_pattern }}</td>
         <td scope="row"> {{pa.Does_child_take_longer_to_eat_milk_tdan_expected }}</td>
         <td scope="row"> {{pa.is_child_able_to_eat_and_drink_efficiently }}</td>
         <td scope="row"> {{pa.is_child_able_to_eat_and_drink_safely_witdout_choking }}</td>
         <td scope="row"> {{pa.Is_tde_feeding_experience_pleasant_for_tde_child_and_family }}</td>
         <td scope="row"> {{pa.Do_parent_have_to_prepare_food }}</td>
         <td scope="row"> {{pa.What_are_tde_childs_preferred_foods_list_as_necessary }}</td>
         <td scope="row"> {{pa.Is_child_fluid_intake_adequate }}</td>
         <td scope="row"> {{pa.Is_urine_output_a_adequate }}</td>
         <td scope="row"> {{pa.Who_feeds_tde_child_in_school }}</td>
         <td scope="row"> {{pa.Who_feeds_tde_child_when_parents_are_unavailable }}</td>
         <td scope="row"> {{pa.How_is_child_positioned_for_feeding }}</td>
         <td scope="row"> {{pa.How_frequently_does_child_feed_in_a_day }}</td>
         <td scope="row"> {{pa.Does_tdis_child_have_difficulties_witd_feeding }}</td>
         <td scope="row"> {{pa.if_yes_which_type_of_feeding_difficulties }}</td>
         <td scope="row"> {{pa.Is_tdis_child_able_to_feed_as_children_of_his_age }}</td>
         <td scope="row"> {{pa.drooling }}</td>
         <td scope="row"> {{pa.difficulty_witd_swallowing }}</td>
         <td scope="row"> {{pa.choking_on_feeds }}</td>
         <td scope="row"> {{pa.Recurrent_aspiration }}</td>
         <td scope="row"> {{pa.refusal_of_feeds }}</td>
         <td scope="row"> {{pa.interest_in_some_food_types_only }}</td>
         <td scope="row"> {{pa.inability_to_chew }}</td>
         <td scope="row"> {{pa.Need_for_caregiver_assistance_to_feed }}</td>
         <td scope="row"> {{pa.if_tdere_concern_witd_feeding }}</td>
         <td scope="row"> {{pa.how_does_illness_affect_childs_feeding }}</td>
         <td scope="row"> {{pa.Has_tde_child_experience_episodes_of_weight_loss_for_dehydration }}</td>
         <td scope="row"> {{pa.does_tde_child_take_any_caloric_protein_vitamins }}</td>
         <td scope="row"> {{pa.weight_today }}</td>
         <td scope="row"> {{pa.is_it_appropriate_for_age }}</td>
         <td scope="row"> {{pa.If_yes_what_was_tde_measured_lengtd_or_height }}</td>
         <td scope="row"> {{pa.Is_child_overweight_observe }}</td>
         <td scope="row"> {{pa.Does_child_have_any_sign_of_faltering_growtd }}</td>
         <td scope="row"> {{pa.Did_caregiver_receive_any_special_education_from_tde_healtd_care }}</td>
         <td scope="row"> {{pa.has_child_ever_been_admitted_for_nutritional_rehabilitation }}</td>
         <td scope="row"> {{pa.Has_child_been_admitted_at_any_time_in_tde_hospital }}</td>
         <td scope="row"> {{pa.if_yes_indication_for_admission_healtd_facility_and_duration }}</td>
         <td scope="row"> {{pa.OFC_cm }}</td>
         <td scope="row"> {{pa.age_OFC_cm }}</td>
         <td scope="row"> {{pa.MUAC_cm }}</td>
         <td scope="row"> {{pa.age_MUAC_cm }}</td>
         <td scope="row"> {{pa.height_or_lengtd }}</td>
         <td scope="row"> {{pa.age_height_or_lengtd }}</td>
         <td scope="row"> {{pa.weight }}</td>
         <td scope="row"> {{pa.age_weight }}</td>
         <td scope="row"> {{pa.ulnar_lengtd }}</td>
         <td scope="row"> {{pa.age_ulnar_lengtd }}</td>
         <td scope="row"> {{pa.chest_circumference }}</td>
         <td scope="row"> {{pa.age_chest_circumference }}</td>
         <td scope="row"> {{pa.ofc_or_cc_ratio }}</td>
         <td scope="row"> {{pa.age_ofcc_or_cc }}</td>
         <td scope="row"> {{pa.z_score_weight }}</td>
         <td scope="row"> {{pa.hair_colour }}</td>
         <td scope="row"> {{pa.hair_texture }}</td>
         <td scope="row"> {{pa.date_last_seen_in_tde_PNC }}</td>
         <td scope="row"> {{pa.age_at_last_visit_to_PNC }}</td>
         <td scope="row"> {{pa.total_duration_of_follow_up }}</td>
         <td scope="row"> {{pa.total_number_of_clinic_visits }}</td>
         <td scope="row"> {{pa.Help_tde_child_attended_tde_PNC_in_tde_last_one_year }}</td>
         <td scope="row"> {{pa.Has_tde_child_attended_tde_pins_in_tde_last_6_montds }}</td>
         <td scope="row"> {{pa.None }}</td>
         <td scope="row"> {{pa.neck_control }}</td>
         <td scope="row"> {{pa.independent_sitting }}</td>
         <td scope="row"> {{pa.crawling }}</td>
         <td scope="row"> {{pa.walking_witd_Assistant }}</td>
         <td scope="row"> {{pa.independent_walking }}</td>
         <td scope="row"> {{pa.running }}</td>
         <td scope="row"> {{pa.independent_climbing }}</td>
         <td scope="row"> {{pa.otder_Sporting_activities }}</td>
         <td scope="row"> {{pa.telephone_contact_reached_on_phone }}</td>
         <td scope="row"> {{pa.if_reached_phone_number }}</td>
         <td scope="row"> {{pa.Alive_lives_witd_parents }}</td>
         <td scope="row"> {{pa.Alive_lives_in_an_industrial_home }}</td>
         <td scope="row"> {{pa.Alive_lives_witd_relation }}</td>
         <td scope="row"> {{pa.Dead }}</td>
         <td scope="row"> {{pa.state_age_at_deatd }}</td>
         <td scope="row"> {{pa.independence_of_caregiver_assistance_for_daily_living }}</td>
         <td scope="row"> {{pa.Required_assistant_for_daily_living }}</td>
         <td scope="row"> {{pa.completely_dependent_on_caregiver_assistance}}</td>-->
        
         <td scope="row" (click)="UpdatePatientToEdit(pa)"><i class="fa fa-edit"></i></td>
         <td scope="row" (click)="DeleteUser(pa.id)"><i class="glyphicon glyphicon-trash"></i></td>
        </tr>
              </tbody>
          </table>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
      
      </form>
</mat-card>

  