/* You can add global styles to this file, and also import other style files */

/*
@import "~bootswatch/dist/cyborg/_variables.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import "~bootswatch/dist/cyborg/_bootswatch.scss";*/

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    background-color: rgb(221, 236, 229);

}

.container{
    width: 100%;
    /*height: 100%;*/
    background: white;
}

